@{
    ViewBag.Title = "Home Page";
}


    <img src="https://i.ytimg.com/vi/tpwc7Oe8fak/maxresdefault.jpg" alt="Trulli" width="1485" height="600">
    <br />
    <span class="bigger-120">
        <span class="blue bolder">Team members</span>
        <br />
        <pre>
              Nguyen Le Hoang Huy
              Phan Thanh Tung
              Huynh Quang Huy
              Le Dinh Hieu
              Ngoc Thien
</pre>
    </span>
